.blog-index {
  margin-top: 2rem;
  .blog-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .blog-card {
      color: #fff;
      margin: 1rem;
      background: linear-gradient(to bottom, #c89476 0%, #3f4f79 100%);
      transition: all 0.3s ease 0s;
      width: 15rem;
      border-radius: 0.5rem;
      &:hover {
        -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 10px 15px rgba(0,0,0,0.4);
        box-shadow: 0 10px 15px rgba(0,0,0,0.4);
      }
      .card-body {
        margin-top: -0.2rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        h2 {
          margin: 0;
          font: 2rem $font-mont;
          &:after {
            content: '';
            display: block;
            width: 5rem;
            border-top: 0.2rem solid #fff;
            margin: 0.2rem 0 0.2rem;
          }
        }
        p {
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
      a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size: 0.9rem;
        transition: color 150ms ease-in;
        &:hover {
          color: #fffce0;
        }
      }
      .card-header {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        margin-bottom: .5rem;
        .post-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .post-image {
          height: 6rem;
          width: 6rem;
          margin-top: -0.8rem;
          img {
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .center {
        text-align: center;
      }
    }
  }
}
