.blog-post-layout {
  margin-top: 2rem;
  .blog-content-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
  }
}
.blog-content-copy {
  max-width: 50rem;
  .post-details {
    font-size: 0.8rem;
    margin: 0.5rem 0;
    span {
      font-weight: 600;
    }
  }
  h1 {
    font-size: 2.7rem;
    margin: 1rem 0;
  }
  h4 {
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
  }
  li {
    font-size: 1rem;
    color: $p-color;
  }
  p {
    font-size: 1.1rem;
    color: $p-color;
    a {
      text-decoration: none;
      font-weight: 600;
      color: #5ac6f9;
    }
  }
  pre {
    background: #ecf1fb;
    padding: 0.5rem;
    display: inline-block;
    @media screen and (min-width: 425px) {
      font-size: 0.8rem;
      padding: 1rem;
    }
  }
  button {
    margin: 1rem 0;
    cursor: pointer;
    height: 3rem;
    width: 5rem;
    border-radius: 0.5rem;
    border-color: none;
    background: #393e6b;
    transition: all 0.3s ease 0s;
    span {
      color: #fff;
      font: 100 1rem $font-open-sans;
    }
    &:hover {
      background: #847277;
      // -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
      // -moz-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
      // box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    }
  }
}
