.projects {
  margin: 4rem 1rem 1rem 1rem;
  .project-wrapper {
    max-width: 60rem;
    margin: auto;
  }
  .project {
    // margin-left: 5rem;
    font-size: 0.6rem;
    margin-left: 1rem;
    @media (min-width: 650px) {
      margin-left: 4rem;
      font-size: 1.2rem;
    }
    &.variable {
      margin-left: 0;
      @media (min-width: 650px) {
        margin-left: 2rem;
      }
    }
    &.property {
      @media (min-width: 650px) {
        margin-left: 5rem;
      }
    }
    a {
      text-decoration: none;
      color: #0b1f4c;
      font-weight: 600;
    }
  }
}
