// FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

// FONT VARIABLES
$font-mont: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$p-color: #484747;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.section-title {
  font: 3rem $font-mont;
  &:after {
    content: '';
    display: block;
    width: 4rem;
    border-top: 0.2rem solid #000;
    margin: 0.2rem 0 0.2rem;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: $font-open-sans;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

// COMPONENT IMPORTS
@import 'menu';
@import 'hamburgerButton';
@import 'dropDown';
@import 'homepage';
@import 'footer';
@import 'about';
@import 'blogPostLayout';
@import 'blogIndex';
@import 'blogHeader';
